.background {
  background-color: #6153c8;
  color: white;
  border-radius: 15px;
  height: 80px;
  margin: 10px 0 0 10px;
}

.summary-items {
  display: flex;
  height: 100%;
  width: 100%;
}

.summary-item-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.summary-item-right {
  display: flex;
  flex: 1;
}

.summary-time {
  font-size: 25px;
  margin: 0;
}

.summary-day {
  margin: 0;
}

@media (max-width: 810px) {
  .summary-item-right {
    display: none;
  }
}

@media (max-width: 450px) {
  .summary-day {
    display: none;
  }
  .summary-time {
    font-size: 20px;
  }
}

@media (max-width: 330px) {
  .summary-time {
    font-size: 13px;
  }
}