$background-color: #4e525b;
$text-color: #b1b1b1;

.previewCard {
	width: 200px;
	background: $background-color;
	max-height: 300px;
	border-radius: 15px;
}

.previewCardHeader {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
}

.profileImage {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	margin: 0px 10px 0px 10px;
}

.previewCardTitle {
	color: white;
	height: 33px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
}

.list {
	list-style-type: none;
	margin-top: 0px;
	:nth-child(n + 7) {
		display: none;
	}
}

.diamond {
	margin: 3px 6px 0 0;
}

.listExerciseItem {
	margin: -20px 0;
	div {
		display: flex;
		align-items: center;
		color: $text-color;
	}
}

.exerciseItem {
	display: flex;
	align-items: center;
	color: $text-color;
}

.exercise {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 120px;
}

.ellipse {
	width: 100%;
	margin-top: -5px;
	fill: $text-color;
}
